li{
    list-style: none;
}
h1{
    margin-top: 109px;
}
h2{
    margin-top: 64px;
}
#title p{
    margin: 5px 0 22px 0;
    font-size: 10px;
    color: #C9C9C9;
}
#text{
    display: flex;
    justify-content: space-between;
}
.custom-checkbox {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}
input[type="checkbox"]{
    /* margin-top: 90px; */
    appearance: none;
    width: 17px;
    height: 17px;
    border: 1px solid #fff;
    border-radius: 50%;
}
input[type="checkbox"]:checked {
    border: 1px solid #00DB4A;
  }
input[type="checkbox"]:checked + label{
    color:  #00DB4A;
  }
label{
    margin-left: 5px;
}

.custom-checkbox input[type="checkbox"]::before {
    content: "\2713"; /* 체크 모양의 유니코드 문자 */
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-left: 3px;
    margin-top: -10px;
    color: #00DB4A;
    transform: scale(0); /*처음에는 크기를 0으로 설정하여 숨김 */
}
.custom-checkbox input[type="checkbox"]:checked::before {
    transform: scale(1); /* 크기를 1로 확대하여 나타남 */
}

#select article {
    width: 100%;
}
#select ul {
    width: 100%;
    display: flex;
}
#select li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;    
    width: 33.33333%;
    height: 106px;
    border: solid 1px #C9C9C9;
    vertical-align: top;
}
#select li.active{
    filter: opacity(0.5) drop-shadow(0 0 0 #00DB4A) saturate(400%);
    border: solid 3px #00DB4A;
    color: #00DB4A;
}
#select img{
    position: absolute;
    width: 37px;
    padding-bottom: 25px;
}
#select p{
    position: relative;
    top: 25px;
    color: #fff;
    font-size: 14px;
}

#popup-modal {
    position: absolute;
    bottom: 0;
    width: 100%;
    height:170px;
    background-color: #2d2d2d;
    border-radius: 30px 30px 0 0;
}
#popup-modal span{
    display: block;
    width: 90px;
    height: 5px;
    background-color: #fff;
    border-radius: 50px;
    margin: 15px auto;
}
#popup-modal ul {
    display: flex;
    max-width: 334px;
    margin-top: 23px;
    overflow-y: hidden;
}
#popup-modal li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #00DB4A;
    border: none;
    min-width: 60px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
}
#popup-modal p {
    font-size: 13px;
    color: #fff;
}
#popup-modal img {
    width: 8px;
    height: 8px;
    padding-left: 5px;
    
}
button{
    position: relative;
    bottom: -30px;
}
