li{
    list-style: none;
}
h1{
    margin-top: calc(100vw * -10 / 414);
}
h2{
    margin-top: calc(100vw * 64 / 414);
}
#title p{
    margin: calc(100vw * 5/ 414) 0 calc(100vw * 22 / 414) 0;
    font-size: calc(100vw * 10 / 414);
    color: #C9C9C9;
}
#title a img {
    margin-top: calc(100vw * 50/ 414);
    margin-bottom: calc(100vw * 20/ 414);
}
#text{
    display: flex;
    justify-content: space-between;
}
#title .page_number {
    font-size: calc(100vw * 20/ 414);
}
#title .page_number .color {
    color: #6A6A6A;
}
.custom-checkbox {
    display: flex;
    align-items: flex-end;
    margin-bottom: calc(100vw * 20/ 414);
}
input[type="checkbox"]{
    /* margin-top: 90px; */
    appearance: none;
    width: calc(100vw * 17/ 414);
    height: calc(100vw * 17/ 414);
    border: calc(100vw * 1/ 414) solid #fff;
    border-radius: 50%;
}
input[type="checkbox"]:checked {
    border: calc(100vw * 1/ 414) solid #00DB4A;
  }
input[type="checkbox"]:checked + label{
    color:  #00DB4A;
  }
label{
    margin-left: calc(100vw * 5/ 414);
}

.custom-checkbox input[type="checkbox"]::before {
    content: "\2713"; /* 체크 모양의 유니코드 문자 */
    display: inline-block;
    font-size: calc(100vw * 14/ 414);
    font-weight: bold;
    margin-left: calc(100vw * 3/ 414);
    margin-top: calc(100vw * -10 / 414);
    color: #00DB4A;
    transform: scale(0); /*처음에는 크기를 0으로 설정하여 숨김 */
}
.custom-checkbox input[type="checkbox"]:checked::before {
    transform: scale(1); /* 크기를 1로 확대하여 나타남 */
}

#select article {
    width: 100%;
    height: calc(100vw * 300/ 414);
    margin-bottom: calc(100vw * 50/ 414);
    overflow-y: scroll;
    position: relative;
    
}
#select ul {
    width: 100%;
    display: flex;
}
#select li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;    
    width: 33.33333%;
    height: calc(100vw * 106/ 414);
    border: solid calc(100vw * 1/ 414) #C9C9C9;
    vertical-align: top;
}
#select li.active{
    filter: opacity(0.5) drop-shadow(0 0 0 #00DB4A) saturate(400%);
    border: solid calc(100vw * 3/ 414) #00DB4A;
    color: #00DB4A;
}
#select img{
    position: absolute;
    width: calc(100vw * 37/ 414);
    padding-bottom: calc(100vw * 25/ 414);
}
#select p{
    position: relative;
    top: calc(100vw * 25/ 414);
    color: #fff;
    font-size: calc(100vw * 14/ 414);
}

#popup-modal {
    position: absolute;
    bottom: 0;
    width: 100%;
    height:calc(100vw * 170/ 414);
    background-color: #2d2d2d;
    border-radius: calc(100vw * 30/ 414) calc(100vw * 30/ 414) 0 0;
}
#popup-modal span{
    display: block;
    width: calc(100vw * 90/ 414);
    height: calc(100vw * 5/ 414);
    background-color: #fff;
    border-radius: calc(100vw * 50/ 414);
    margin: calc(100vw * 15/ 414) auto;
}
#popup-modal ul {
    display: flex;
    max-width: calc(100vw * 334/ 414);
    margin-top: calc(100vw * 23 / 414);
    overflow-y: hidden;
}
#popup-modal li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #00DB4A;
    border: none;
    min-width: calc(100vw * 60 / 414);
    height: calc(100vw * 40 / 414);
    border-radius: calc(100vw * 50 / 414);
    margin-right: calc(100vw * 10 / 414);
}
#popup-modal p {
    font-size: calc(100vw * 13 / 414);
    color: #fff;
}
#popup-modal img {
    width: calc(100vw * 8/ 414);
    height: calc(100vw * 8 / 414);
    padding-left: calc(100vw * 5/ 414);
    
}
button{
    position: relative;
    bottom: calc(100vw * -30 / 414);
}
