*{
    box-sizing: border-box;
}
li{
    list-style: none;
}
h1{
    margin-top: calc(100vw * -10 / 414);
}
h2{
    margin-top: calc(100vw * 64 / 414);
}
#title p{
    margin: calc(100vw * 5 / 414) 0 calc(100vw * 22 / 414) 0;
    font-size: calc(100vw * 10 / 414);
    color: #C9C9C9;
}
#title a img {
    margin-top: calc(100vw * 50 / 414);
    margin-bottom: calc(100vw * 20 / 414);
}
#text{
    display: flex;
    justify-content: space-between;
}
#title .page_number {
    font-size: calc(100vw * 20 / 414);
}
#title .page_number .color {
    color: #6A6A6A;
}
.box{
    text-align: center;
    margin-top: calc(100vw * 40 / 414);
}
.range-value{
    display: block;
    font-size: calc(100vw * 20 / 414);
    font-weight: 600;
    text-align: center;
}
input[type="range"]{
    -webkit-appearance: none;
    width: calc(100vw * 334 / 414);
    height: calc(100vw * 13 / 414);
    background: linear-gradient(90deg, #fff 60%, #fff 60%);
    text-align: center;
    border-radius: calc(100vw * 50 / 414);
    margin-top:calc(100vw * 7 / 414);
    transition: background 1s ease;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: calc(100vw * 20 / 414);
    height: calc(100vw * 20 / 414);
    background: #FA1776;
    border-radius: calc(100vw * 50 / 414);
}
.box div{
    display: flex;
    justify-content: space-between;
}
.box p{
    font-size: calc(100vw * 12 / 414);
    color: #fff;
    margin-top: calc(100vw * 5 / 414);
}
button{
    margin-top: calc(100vw * 70 / 414);
}
