*{
    box-sizing: border-box;
}
@media (max-width: 768px){

    html{
        font-size: 62.5%;
    }

    #title h1{
        margin-bottom: 9.7656vw;
    }

    .box{
        text-align: center;
        margin-top: 9.1145vw;
    }

    .range-value{
        display: block;
        margin-bottom: 2.7343vw;
        font-size: 3.908rem;
        font-weight: 600;
        text-align: center;
    }
    input[type="range"]{
        -webkit-appearance: none;
        width: 100%;
        height: 2.6041vw;
        background: linear-gradient(90deg, #fff 60%, #fff 60%);
        text-align: center;
        border-radius: 6.5104vw;
        transition: background 1s ease;
    }
    input[type="range"]::-webkit-slider-thumb{
        -webkit-appearance: none;
        width: 5.0781vw;
        height: 5.0781vw;
        background: #FA1776;
        border-radius: calc(100vw * 50 / 414);
    }
    .box div{
        display: flex;
        justify-content: space-between;
    }
    .box p{
        font-size: 2.345rem;
        color: #fff;
        margin-top: 1.9532vw;
    }
    button{
        margin-top: 14.9739vw;
    }

}

@media (max-width: 750px){
    html{
        font-size: 61.0351%;
    }
}

@media (max-width: 720px){
    html{
        font-size: 58.5937%;
    }
}

@media (max-width: 640px){
    html{
        font-size: 52.0833%;
    }
}

@media (max-width: 540px){
    html{
        font-size: 43.9453%;
    }
}

@media (max-width: 480px){
    html{
        font-size: 39.0625%;
    }
}

@media (max-width: 400px){
    html{
        font-size: 32.552%;
    }
}

@media (max-width: 320px){
    html{
        font-size: 26.0416%;
    }
}
