@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
body {

    font-family: 'Pretendard-Regular';
    background-color: #1E1E1E;
    color: #fff;
    height: calc(100vw * 897/ 414);

}
a{
    text-decoration: none;
    color: #fff;
    font-weight: calc(100vw * 600/ 414);
}

.main{
    margin: 0 calc(100vw * 40/ 414);
}
h1{
    font-weight: bold;
    font-size: calc(100vw * 30/ 414);
}
h2{
    font-size: calc(100vw * 20/ 414);
}
p {
    color: gray;
}

/*--------------button--------------*/

button {
    width: calc(100vw * 344/ 414);
    height: calc(100vw * 50/ 414);
    border-radius: calc(100vw * 10/ 414);
    border-style: none;
    background-color: #FF1477;
    color: #fff;
    font-size: calc(100vw * 13/ 414);
    font-weight: 600;
    cursor: pointer;
}
