@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
body {
    position: fixed;
    font-family: 'Pretendard-Regular';
    background-color: #1E1E1E;
    color: #fff;
    
    width: 414px;
    height: 896px;
}
.main{
    margin: 0 40px;
    text-align: center;
}
img{
    width: 200px;
    margin-top: 109px;
}
p{
    display: inline-block;
    margin-top: 100px;
    padding: 7.5px 22.5px;
    font-size: 11px;
    border: solid 1px #fff;
    border-radius: 50px;
}
h1{
    margin-top: 65px;
    font-size: 24px;
    font-weight: 600;
}
h2{
    margin-top: 30px;
    font-size: 13px;
    font-weight: 400;
}

/*--------------button--------------*/

button {
    width: 334px;
    height: 50px;
    margin-top: 50px;
    border-radius: 10px;
    border-style: none;
    background-color: #FF1477;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}

