@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
body {
    position: fixed;
    font-family: 'Pretendard-Regular';
    background-color: #1E1E1E;
    color: #fff;
    
    width: 100%;
    height: calc(100vw * 897/ 414);
}
.main{
    margin: calc(100vw * 30/ 414);
    text-align: center;
}
img{
    margin-top: calc(100vw * 50/ 414);
}
p{
    width: calc(100vw * 120/ 414);
    margin: calc(100vw * 50/ 414) auto 0 auto;
    padding: calc(100vw * 7.5/ 414) 0;
    font-size: calc(100vw * 11/ 414);
    border: solid calc(100vw * 1/ 414) #fff;
    border-radius: calc(100vw * 50/ 414);
}
h1{
    margin-top: calc(100vw * 650/ 414);
    font-size: calc(100vw * 24/ 414);
    font-weight: 600;
}
h2{
    width: calc(100vw * 250/ 414);
    margin: calc(100vw * 30/ 414) auto 0 auto;
    font-size: calc(100vw * 13/ 414);
    font-weight: 100;
}

/*--------------button--------------*/

button {
    width: calc(100vw * 344/ 414);
    height: calc(100vw * 50/ 414);
    margin-top: calc(100vw * 50/ 414);
    border-radius: calc(100vw * 10/ 414);
    border-style: none;
    background-color: #FF1477;
    color: #fff;
    font-size: calc(100vw * 13/ 414);
    font-weight: 600;
    cursor: pointer;
}

