#modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #101010;
    display: none;
    /* 초기에는 모달 숨김 */
    align-items: center;
    overflow: hidden;
    z-index:5;
    height: calc(100vw * 897/ 414);
}

#open-modal-button {
    background-color: rgba(68, 215, 255, 0);
    width: calc(100vw * 100/ 414);
    height: calc(100vw * 100/ 414);
    margin-top: calc(100vw * -70/ 414);
    z-index: 3;
}

#open-modal-button img {
    margin-left: calc(100vw * -17/ 414);
    margin-top: calc(100vw * -15/ 414);
    z-index: 1;
}
.main_p li:last-child p {
    margin-top: calc(100vw * -30/ 414);
}

.omb {
    margin-top: calc(100vw * -30/ 414);
}




#modal.active {
    display: block;
}

#modal img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modal button {
    position: relative;
    top: 0;
    right: calc(100vw * 50/ 414);
    border: none;
    color: #000000;
    cursor: pointer;
    z-index: 3;
    background-color: rgba(255, 0, 0, 0);
}

#modal p {
    color: white;
    font-size: calc(100vw * 30/ 414);
    margin-left: calc(100vw * -240/ 414);
}


#close-button img {
    margin-left: calc(100vw * -60/ 414);
}

input[type="checkbox"] {
    /* margin-top: 90px; */
    appearance: none;
    width: 20px;
    height: 20px;
    border: calc(100vw * 1/ 414) solid #fff;
    border-radius: 50%;
}

input[type="checkbox"]:checked {
    border: calc(100vw * 1/ 414) solid #00DB4A;
}

input[type="checkbox"]:checked+label {
    color: #00DB4A;
}

.listInner input[type="checkbox"]::before {
    content: "\2713";
    /* 체크 모양의 유니코드 문자 */
    display: inline-block;
    font-size: calc(100vw * 14/ 414);
    font-weight: bold;
    margin-left: calc(100vw * 4/ 414);
    margin-top: calc(100vw * -10/ 414);
    color: #00DB4A;
    transform: scale(0);
    /*처음에는 크기를 0으로 설정하여 숨김 */
}

.listInner input[type="checkbox"]:checked::before {
    transform: scale(1.2);
    /* 크기를 1로 확대하여 나타남 */
}

.searchBox {
    margin: calc(100vw * 30/ 414) calc(100vw * 10/ 414);
    display: flex;
    /* 컨테이너를 플렉스 박스로 설정 */
    justify-content: center;
    /* 수평 가운데 정렬 */
}

.searchBox label {
    display: flex;
    /* label 내부 컨텐츠도 플렉스 박스로 설정 */
    align-items: center;
    /* 수직 정렬을 위한 아이템의 수직 가운데 정렬 */
}

#search {
    width: calc(100vw * 290/ 414);
    justify-content: center;
    padding: calc(100vw * 13/ 414) calc(100vw * 20/ 414);
    border-radius: calc(100vw * 20/ 414);
    background: #202020;
    color: #6C6C6C;
    border: none;
    margin: calc(100vw * -35/ 414) 0;
}

.searchBox {
    margin-top: calc(100vw * 80/ 414);
}

.listBox {
    max-width: calc(100vw * 335/ 414);
    height: calc(100vw * 522/ 414);
    margin: 0 auto;
    overflow-y: hidden;
    overflow: auto;

}

/* Chrome, Safari, Edge 브라우저에서 스크롤바를 숨깁니다. */
.listBox::-webkit-scrollbar {
    display: none;
  }

.listInner {
    background-color: #dedede00;
    margin: calc(100vw * 10/ 414) calc(100vw * 5/ 414);
    padding: calc(100vw * 10/ 414) 0;
    color: rgb(255, 255, 255);
    display: flex;
    /* .listInner를 플렉스 박스로 설정하여 내부 아이템들을 배치 */
    justify-content: space-between;
    /* 아이템들을 좌우로 배치 */
    align-items: center;
    /* 수직 정렬을 위한 아이템의 수직 가운데 정렬 */
    border-bottom: calc(100vw * 1/ 414) solid #202020;
    /* 상단 라인 추가 */
}

.listInner input {
    order: 2;
    /* input을 오른쪽으로 배치하기 위해 순서를 설정 */
}

.foodname {
    font-weight: bold;
}

.back_barntext {
    display: flex;
    align-items: center;
    /* 세로 중앙 정렬을 유지합니다. */
    bottom: 0;
    position: relative;
    margin: calc(100vw * 40/ 414) 0 calc(100vw * -35/ 414) 0;
}




#popup-modal2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height:calc(100vw * 117/ 414);
    background-color: #2d2d2d;
    border-radius: calc(100vw * 30/ 414) calc(100vw * 30/ 414) 0 0;
}
#popup-modal2 span{
    display: block;
    width: calc(100vw * 90/ 414);
    height: calc(100vw * 5/ 414);
    background-color: #fff;
    border-radius: calc(100vw * 50/ 414);
    margin: calc(100vw * 15/ 414) auto;
}
#popup-modal2 ul {
    display: flex;
    max-width: calc(100vw * 334/ 414);
    margin-top: calc(100vw * 23/ 414);
    overflow-y: hidden;
}
#popup-modal2 li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #00DB4A;
    border: none;
    min-width: calc(100vw * 60/ 414);
    height: calc(100vw * 40/ 414);
    border-radius: calc(100vw * 50/ 414);
    margin: 0 calc(100vw * 10/ 414) 0 0;
    padding: 0 calc(100vw * 5/ 414) 0 calc(100vw * 5/ 414);
    text-align: center;
}
#popup-modal2 p {
    font-size: calc(100vw * 13/ 414);
    color: #fff;
    left: 0;
    position: relative;
    margin-left: calc(100vw * -18/ 414);
}
#popup-modal2 img {
    width: calc(100vw * 8/ 414);
    height: calc(100vw * 8/ 414);
    padding-left: calc(100vw * 20/ 414);
}
#popup-modal2 button{
    width: calc(100vw * 344/ 414);
    height: calc(100vw * 50/ 414);
    border-radius: calc(100vw * 10/ 414);
    border-style: none;
    background-color: #FF1477;
    color: #fff;
    font-size: calc(100vw * 13/ 414);
    font-weight: 600;
    cursor: pointer;
    margin-top: calc(100vw * 799/ 414);
    margin-right: calc(100vw * -20/ 414);
    position: fixed;
}


.p-m2-li {
  
    position: relative;


}
.p-m2-li img {
    right: 0;
    margin-left: calc(100vw * 10/ 414);
}