@media (max-width: 768px){

    html{
        font-size: 62.5%;
    }

    #modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 150%;
        background: #101010;
        display: none;
        align-items: center;
        overflow: hidden;
        z-index:5;
    }

    #open-modal-button {
        position: absolute;
        width: 24vw;
        height: 24vw;
        background-color: rgba(68, 215, 255, 0);
        border: none;
        z-index: 5;
    }

    #open-modal-button img {
        margin: -3vw 0 0 -4vw;
        z-index: 5;
    }

    #modal.active {
        display: block;
    }

    .back_barntext {
        display: flex;
        align-items: center;
        margin-top: 8.7239vw;
    }

    #close-button {
        margin-left: 10.44166vw;
        border: none;
        background-color: #101010;
    }
    #close-button img{
        width: 3vw;
    }

    .back_barntext p {
        margin-left: 5.8593vw;
        color: #fff;
        font-size: 5.863rem;
    }


    .searchBox {
        margin-top: 5.8593vw;
    }

    .searchBox label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 10.44166vw;
        padding: 0 5.8593vw;
        height: 9.4231vw;
        border-radius: 10vw;
        background: #202020;
    }

    #search {
        font-size: 2.345rem;
        font-weight: 600;
        color: #6C6C6C;
        background: #202020;
        border: none;
    }

    .searchBox img{
        width: 4.9244vw;
    }


    .listInner input[type="checkbox"] {
        appearance: none;
        width: 3.8151vw;
        height: 3.8151vw;
        border: 0.26vw solid #fff;
        border-radius: 50%;
        -webkit-appearance: none; /* iOS Safari 지원 */
  -moz-appearance: none; /* Firefox 지원 */
  appearance: none;
    }

    .listInner input[type="checkbox"]:checked {
        border: 0.26vw solid #00DB4A;
    }

    .listInner input[type="checkbox"]:checked+label {
        color: #00DB4A;
    }

    .listInner input[type="checkbox"]::before {
        content: "\2713";
        display: inline-block;
        font-size: 3.5vw;
        font-weight: bold;
        margin: -1vw 0 0 0.15vw;
        color: #00DB4A;
        transform: scale(0);
        
    }

    .listInner input[type="checkbox"]:checked::before {
        transform: scale(1);
    }


    .listBox {
        margin: 10vw 10.44166vw 30vw 10.44166vw;
        height: 110vw;
        overflow: auto;
    }

    .listBox::-webkit-scrollbar {
        display: none;
    }

    .listInner {
        padding: 4.427vw 0;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.2539vw solid #202020;
    }

    .foodname {
        font-size: 3.518rem;
    }


    .main{
        margin: 0 10.44166vw;
    }

    #popup-modal2 {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 28.6458vw;
        background-color: #2d2d2d;
        border-radius: 3.9062vw 3.9062vw 0 0;
        z-index: 5;
    }
    #popup-modal2 span{
        display: block;
        width: 13.0208vw;
        height: 0.8203vw;
        background-color: #fff;
        border-radius: 26.0416vw;
        margin: 3.2552vw auto 0 auto;
    }
    #popup-modal2 ul {
        display: flex;
        margin-top: 5.8593vw;
        overflow-y: hidden;
    }
    #popup-modal2 li {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #00DB4A;
        min-width: 14.1927vw;
        height: 8.9843vw;
        border-radius: 11.4583vw;
        margin-right: 2.6041vw;
    }
    #popup-modal2 p {
        margin-right: 2.5vw;
        font-size: 2.54rem;
        color: #fff;
    }
    #popup-modal2 img {
        width: 2.0442vw;
        height: 2.0442vw;
        
    }
    #popup-modal2 button{
        margin: 3.3854vw 0 7.4218vw 0;
    }
    #popup-modal2 button {
        margin-bottom: 24.6093vw;
        width: 100%;
        height: 11.7187vw;
        border-radius: 2.539vw;
        border-style: none;
        background-color: #FF1477;
        color: #fff;
        font-size: 2.54rem;
        font-weight: 600;
    }

}

@media (max-width: 750px){
    html{
        font-size: 61.0351%;
    }
}

@media (max-width: 720px){
    html{
        font-size: 58.5937%;
    }
}

@media (max-width: 640px){
    html{
        font-size: 52.0833%;
    }
}

@media (max-width: 540px){
    html{
        font-size: 43.9453%;
    }
}

@media (max-width: 480px){
    html{
        font-size: 39.0625%;
    }
}

@media (max-width: 400px){
    html{
        font-size: 32.552%;
    }
}

@media (max-width: 320px){
    html{
        font-size: 26.0416%;
    }
}
